---
import Section from "./Section.astro";

---

<Section
title="Accessories"
color="black"
>
  <div slot="footer">
    <a 
      class="border-[3px] rounded px-[46px] py-[7px] w-[260px] text-sm inline-block bg-white text-black transition-color duration-500" 
      href="#"
    >
      Shop Now
    </a>

    <nav class="mt-12">
      <ul class="flex justify-center text-xs [&>li>a]:text-gray-200 [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
        <li><a href="#">Tesla © 2023</a></li>
        <li><a href="#">Privacy & Legal</a></li>
        <li><a href="#">Vehicle Recalls</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Get Updates</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </nav>
  </div>
  
  <img 
    slot="background" 
    src="../../public/accessories.avif" 
    alt="Accesories"
    class="object-cover h-screen w-screen"
  />
</Section>