---
import Section from "./Section.astro";

---

<Section
title="Experience Tesla"
subtitle="Schedule a Demo Drive Today"
color="white"
>
  <div slot="footer">
    <a 
      class="border-[3px] rounded px-[46px] py-[7px] w-[260px] border-white text-sm text-white inline-block hover:bg-white hover:text-black transition-color duration-500" 
      href="#"
    >
      Demo Drive
    </a>
  </div>
  
<video slot="background" autoplay muted loop src="./public/video.webm" />
</Section>